<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{listTitle}}</ion-title>
    <!--<ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="ios-add-circle-outline"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>

</ion-header>

<ion-content (swipe)="swiped($event)">
   <ion-searchbar (ionInput)="searchItem($event)"></ion-searchbar>
  <ion-list >
    <button ion-item  *ngFor="let item of items" (click)="itemTapped($event, item)">
      <h2>#{{item.Id}}  {{item.Title}}</h2>
      <div class="description" >
       <div class="descriptontext">Коли створено:</div><span class="creator" >{{item.Created}}</span>
       <br>
       <div class="descriptontext">Коли змінено: </div><span class="creator" >{{item.Modified}}</span>
     </div>
    </button>
    <h1 ion-item *ngIf="items && items.length == 0">Тут пусто</h1>
    <h1 ion-item *ngIf="!items">Завантаження...</h1>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingText="Loading more data...">
      <!--loadingSpinner="bubbles"-->
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
