contracts {
   .description{
      color: #555;
   }
   .creator{
      width:60%;
   }
   .descriptontext{
      width: 40%;
      display: inline-block;
   }
   h2 {
      font-weight: 700 !important;
   }
}
