
<ion-content >
   <ion-list >
      <button ion-item  *ngFor="let item of items" (click)="itemTapped($event, item)">
       <ion-avatar item-left>
         <img src="{{images.getImage(item.AthoreEmail)}}">
         <!-- {{siteUrl}}//_layouts/15/userphoto.aspx?size=S&accountname={{item.AthoreEmail}}"> -->
       </ion-avatar>
       <ion-label>
        <h2>{{item.TaskTitle}}</h2>
        <div class="description" >
            <div class="descriptontext">{{item.DueDate_view}}</div>
        </div>
       </ion-label>
       <div item-right>
         <ion-icon name="pricetag"></ion-icon>
         <div class="showId">ID #{{item.sysIDItem || item.ItemId}}</div>
       </div>
    </button>
    <h1 ion-item *ngIf="items && items.length == 0">Тут пусто</h1>
    <h1 ion-item *ngIf="!items">Завантаження...</h1>
  </ion-list>
</ion-content>
