item {
   .toolbar-title{
      // white-space: normal;
      //word-spacing: 10px;
   }

   .slide-zoom {
       height:100%;
   }

   ion-scroll{
       height:100%;
   }

   h2{
       .itemID{
           color: grey;
       }
   }

}
