<ion-menu  [content]="content">
  <ion-header>
    <ion-toolbar>
   <ion-item class="userAvatart">
      <ion-avatar item-left>
         <img *ngIf="!onPremise" #Myimg src="{{siteUrl}}/_layouts/15/userphoto.aspx?size=S&accountname={{user.getEmail()}}">
         <img *ngIf="onPremise" #Myimg src="file:///data/data/com.ionicframework.lsdocs881920/files/userphoto.png">
         <!-- file:///storage/emulated/0/Android/data/com.ionicframework.lsdocs881920/cache/1488883150166.jpg"> -->
         <!-- {{siteUrl.substring(0,siteUrl.indexOf('/sites'))}}/User Photos/Profile Pictures/mark_leon_LThumb.jpg"> -->
      </ion-avatar >
      <ion-title>{{user.getUserName()}}</ion-title>
   </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content  class="menucontainer" >
    <ion-list>
      <button text-left ion-button full clear  menuClose  *ngFor="let p of (pages)" (click)="openPage(p)">
        <ion-label color="light">
           <ion-icon margin-right name="{{p.icon}}">
          </ion-icon>{{p.title}}
       </ion-label>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
