LSActive {
   // .description{
   //    color: #555;
   // }
   // .creator{
   //    width:60%;
   // }
   // .descriptontext{
   //    width: 40%;
   //    display: inline-block;
   // }
   // h2 {
   //    font-weight: 700 !important;
   // }

   .list-md .item-block .item-inner {
      border-bottom: 0px !important;
   }
   ion-list{
      .item {
         border-bottom: 1px solid #dedede !important;
      }
   }
   .scroll-content {
      padding: 0px !important;
   }

   .showId {
       text-align: right;
       padding: 3px 5px 3px 5px;
       font-size: 0.9em;
       border : 1px solid rgb(204, 204, 204);
       display: inline-block;
   }
}
