LSActive {
   // .description{
   //    color: #555;
   // }
   // .creator{
   //    width:60%;
   // }
   // .descriptontext{
   //    width: 40%;
   //    display: inline-block;
   // }
   // h2 {
   //    font-weight: 700 !important;
   // }

   .list-md .item-block .item-inner {
      border-bottom: 0px !important;
   }
   ion-list{
      .item {
         border-bottom: 1px solid #dedede !important;
      }
   }
   .scroll-content {
      padding: 0px !important;
   }

}
