<ion-content style="z-index: -1">
    <ion-slides #mySlider>
        <ion-slide>
            <ion-scroll>
                <ion-list style="z-index: -1">
                    <ion-item *ngFor="let route of routesList" class="route_item" [attr.started]="route.StateStatus == 'InProgress' ? true : false" >
                        <div>
                            <div class="state_id">{{route.StateNumber}}</div>
                            <div class="state_name" [attr.done]="route.StateStatus == 'Completed' ? true : false" >{{route.StateName}}</div> 
                        </div>
                        <div>
                            <ion-icon name="ios-contacts-outline"></ion-icon>
                             <div class="left" >{{loc.dic.HistoryTaskExecutor}}:</div>
                            <div class="right" >{{route.ExecutorType == 'DocAuthore'? loc.dic.PermAuthorDoc : (route.StateExecutore.results ? route.StateExecutore.results[0].Title : loc.dic.TypeExecute1)}}</div>
                        </div>
                        <div>
                            <ion-icon name="ios-timer-outline"></ion-icon>
                            <div class="left" >{{loc.dic.HistoryTaskDuet}}:</div>
                            <div class="right">{{route.StateEstimate}} {{route.StateEstimate == 1? loc.dic.DayPod1: (route.StateEstimate > 4? loc.dic.DayPod3 : loc.dic.DayPod2 ) }}</div>
                        </div>
                        <div *ngIf="route.StartDate">
                            <ion-icon name="play"></ion-icon>
                            <div class="left" >{{loc.dic.HistoryTaskStart}}:</div>
                            <div class="right" >{{route.StartDate}}</div>
                        </div>
                        <div *ngIf="route.EndDate">
                            <ion-icon name="square"></ion-icon>
                            <div class="left" >{{loc.dic.TaskStatus3}}:</div>
                            <div class="right" >{{route.EndDate}}</div>
                        </div>
                    </ion-item>
                    <ion-item *ngIf="routesList && routesList.length == 0">
                    <h2>{{loc.dic.mobile.Empty}}</h2>
                    </ion-item>
                    <ion-item *ngIf="!routesList">
                    <h2>{{loc.dic.mobile.Downloading}}</h2>
                    </ion-item>
                </ion-list>
            </ion-scroll>
         </ion-slide>
    </ion-slides>
</ion-content>
