
<ion-content >
   <ion-list >
     <button ion-item  *ngFor="let item of items" (click)="itemTapped($event, item)">
       <ion-avatar item-left>
        <img src="{{siteUrl}}//_layouts/15/userphoto.aspx?size=S&accountname={{item.TaskAuthore.EMail || 'undefined'}}">
       </ion-avatar>
       <div>
         <h2>{{item.Title}}</h2>
         <div class="description" >
           <div class="descriptontext">{{item.TaskDueDate_view}}</div>
         </div>
       </div>
       <div item-right>
         <ion-icon name="pricetag"></ion-icon>
         <div class="showId" >ID #{{item.sysIDItem}}</div>
       </div>
    </button>
    <h1 ion-item *ngIf="items && items.length == 0">Здесь пусто</h1>
    <h1 ion-item *ngIf="!items">Загрузка...</h1>
  </ion-list>
</ion-content>
