<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-slides>
         <ion-slide>
            {{Title}}
         </ion-slide>
      </ion-slides>
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label [ngClass]="typingComment? 'inactive' : 'active'">
    <div class="line" >
       <ion-icon name="ios-return-left"></ion-icon>
       <div class="left">Автор</div>
       <div class="right">
         <div class="userTag">
           <ion-avatar item-left>
             <img src="{{images.getImage(taskAuthore.EMail || 'undefined')}}" >
             <!-- {{siteUrl}}/_layouts/15/userphoto.aspx?size=S&accountname={{taskAuthore.EMail}}" /> -->
           </ion-avatar>
           <span>{{taskAuthore.Title}}</span>
         </div>
       </div>
    </div>
    <div class="line">
       <ion-icon name="ios-return-right"></ion-icon>
       <div class="left">Призначено</div>
       <div class="right">
         <div class="userTag">
           <ion-avatar item-left>
             <img src="{{images.getImage(assignetTo.Email || 'undefined')}}" >
             <!-- {{siteUrl}}/_layouts/15/userphoto.aspx?size=S&accountname={{assignetTo.Email}}" /> -->
           </ion-avatar>
           <span>{{assignetTo.Title}}</span>
         </div>
       </div>
    </div>
    <div class="line">
       <ion-icon name="ios-calendar-outline"></ion-icon>
       <div class="left">Дата початку</div>
       <div class="right">{{startDate}}</div>
    </div>
    <div class="line">
       <ion-icon name="ios-timer-outline"></ion-icon>
       <div class="left">Термін</div>
       <div class="right">{{deadLine}}</div>
    </div>
</ion-label>
<ion-label #middlelabel class="middlelabel" >
  <!--<button ion-button color="primary" clear><ion-icon name="list"></ion-icon></button>-->
  <button ion-button color="primary" (click)="showHistory()" clear><ion-icon name="calendar"></ion-icon></button>
  <button *ngIf="connectedItem" ion-button color="primary" (click)="openConnecedItem()" clear><ion-icon name="document"></ion-icon>Пов'язаний елемент</button>
</ion-label>
<ion-scroll #scrollMy [ngClass]="'scrollMy'" [style.height]="scrollHeight" scrollY="true">
  <ion-list *ngIf="historyToggle" no-lines class="history" [ngClass]="historyToggle? 'active' : '' " style="z-index: -1;padding-bottom: 20px;">
          <ion-item class="task" *ngFor="let task of taskHistory | arraySort:'-EvanteDate'" >
              <h3>
                  <div class="marker"></div>
                  <span>{{task.Event}}</span> <span>{{task.TaskTitle}}</span> для
                  <span class="user">{{task.NameExecutor}}</span> від <span class="user">{{task.NameAuthore}}</span>
                  <span> з терміном до </span>
                  <span>{{task.DueDate}}</span>
              </h3>
              <p>{{task.EvanteDate}}</p>
          </ion-item>
          <ion-item *ngIf="history && !taskHistory">
            <h2> Тут пусто</h2>
          </ion-item>
          <ion-item *ngIf="!history">
            <h2> Завантаження...</h2>
          </ion-item>
  </ion-list>
  <ion-item *ngIf="(Status != 'Done')" [ngClass]="historyToggle? 'inactive' : 'active'">
      <ion-label floating>Введіть коментар до виконання задачі</ion-label>
      <ion-textarea #coments rows="6" (blur)="onBlur()" (focus)="onFocus()" ></ion-textarea>
  </ion-item>
</ion-scroll>
</ion-content>

<ion-footer #myFooter *ngIf="Status != 'Done'">
  <ion-toolbar>
    <ion-buttons full>
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="Status == 'Not Started'" >
             <button  clear ion-button (click)="toWorkTask()">
                <ion-icon name="md-arrow-down"></ion-icon>
                <div>В роботу</div>
            </button>
         </ion-col>
         <ion-col *ngIf="task.sysTaskLevel == 1 && (ContentType == 'LSTaskPreparetion' || ContentType == 'LSTaskAppruve' || ContentType =='LSTaskAgreement' ) ">
            <button  clear ion-button (click)="cancelTask()">
               <ion-icon name="md-close"></ion-icon>
               <div *ngIf="ContentType == 'LSTaskPreparetion'">
                  Відмінити
               </div>
               <div *ngIf="ContentType == 'LSTaskAppruve' || ContentType == 'LSTaskAgreement'">
                  Відхилити
               </div>
               <!-- <div *ngIf="ContentType != 'LSTaskToRegistrate' && assignetTo.Email == user.getEmail() ">
                  Делегировать
               </div> -->
            </button>
         </ion-col>
         <!-- <ion-col *ngIf="ContentType == 'LSTaskToRegistrate'">
           <button  clear ion-button (click)="addTask()">
               <ion-icon name="arrow-down"></ion-icon>
               <div>Новая подзадача</div>
           </button>
        </ion-col> -->
         <ion-col>
            <button  clear ion-button (click)="executeTask()">
               <ion-icon name="md-checkmark"></ion-icon>
               <div *ngIf="ContentType == 'LSTaskAppruve'">
                  Узгодити
               </div>
               <div *ngIf="ContentType != 'LSTaskAppruve'">
                  Виконати
               </div>
            </button>
         </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
