<ion-header>
  <ion-toolbar>
    <ion-title>
      {{Title}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>
    <div class="line" >
       <ion-icon name="ios-return-left"></ion-icon>
       <div class="left">Автор</div>
       <div class="right">
         <div class="userTag">
           <ion-avatar item-left>
             <img src="{{siteUrl}}/_layouts/15/userphoto.aspx?size=S&accountname={{taskAuthore.EMail}}" />
           </ion-avatar>
           <span>{{taskAuthore.Title}}</span>
         </div>
       </div>
    </div>
    <div class="line">
       <ion-icon name="ios-return-right"></ion-icon>
       <div class="left">Назначено</div>
       <div class="right">
         <div class="userTag">
           <ion-avatar item-left>
             <img src="{{siteUrl}}/_layouts/15/userphoto.aspx?size=S&accountname={{assignetTo.Email}}" />
           </ion-avatar>
           <span>{{assignetTo.Title}}</span>
         </div>
       </div>
    </div>
    <div class="line">
       <ion-icon name="ios-calendar-outline"></ion-icon>
       <div class="left">Дата начала</div>
       <div class="right">{{startDate}}</div>
    </div>
    <div class="line">
       <ion-icon name="ios-timer-outline"></ion-icon>
       <div class="left">Срок</div>
       <div class="right">{{deadLine}}</div>
    </div>
</ion-label>
<ion-label class="middlelabel" >
  <!--<button ion-button color="primary" clear><ion-icon name="list"></ion-icon></button>-->
  <button ion-button color="primary" (click)="showHistory()" clear><ion-icon name="calendar"></ion-icon></button>
  <button *ngIf="connectedItem" ion-button color="primary" (click)="openConnecedItem()" clear><ion-icon name="document"></ion-icon>Связанный элемент</button>
</ion-label>
<ion-scroll [ngClass]="'scrollMy'" scrollY="true">
  <ion-list *ngIf="historyToggle" no-lines class="history" [ngClass]="historyToggle? 'active' : '' " style="z-index: -1">
          <ion-item class="task" *ngFor="let task of taskHistory | arraySort:'-EvanteDate'" >
              <h3>
                  <div class="marker"></div>
                  <span>{{task.Event}}</span> <span>{{task.TaskTitle}}</span> для
                  <span class="user">{{task.NameExecutor}}</span> от <span class="user">{{task.NameAuthore}}</span>
                  <span> со сроком до </span>
                  <span>{{task.DueDate}}</span>
              </h3>
              <p>{{task.EvanteDate}}</p>
          </ion-item>
          <ion-item *ngIf="history && !taskHistory">
            <h2> Здесь пусто</h2>
          </ion-item>
          <ion-item *ngIf="!history">
            <h2> Загрузка...</h2>
          </ion-item>
  </ion-list>
  <ion-item *ngIf="(Status != 'Done')" [ngClass]="historyToggle? 'inactive' : 'active'">
      <ion-label floating>Введите коментарий к выполнению задачи</ion-label>
      <ion-textarea #coments rows="6" ></ion-textarea>
  </ion-item>
</ion-scroll>
</ion-content>

<ion-footer *ngIf="Status != 'Done'">
  <ion-toolbar>
    <ion-buttons full>
      <ion-grid>
        <ion-row >
          <ion-col *ngIf="Status == 'Not Started'" >
             <button  clear ion-button (click)="toworkTask()">
                <ion-icon name="arrow-down"></ion-icon>
                <div>В роботу</div>
            </button>
         </ion-col>
         <ion-col *ngIf="task.sysTaskLevel == 1 && ContentType == ('LSTaskPreparetion' || 'LSTaskAppruve' || 'LSTaskAgreement' ) ">
            <button  clear ion-button (click)="cancelTask()">
               <ion-icon name="close"></ion-icon>
               <div *ngIf="ContentType == 'LSTaskPreparetion'">
                  Отменить
               </div>
               <div *ngIf="ContentType == 'LSTaskAppruve' || ContentType == 'LSTaskAgreement'">
                  Отклонить
               </div>
               <!-- <div *ngIf="ContentType != 'LSTaskToRegistrate' && assignetTo.Email == user.getEmail() ">
                  Делегировать
               </div> -->
            </button>
         </ion-col>
         <!-- <ion-col *ngIf="ContentType == 'LSTaskToRegistrate'">
           <button  clear ion-button (click)="addTask()">
               <ion-icon name="arrow-down"></ion-icon>
               <div>Новая подзадача</div>
           </button>
        </ion-col> -->
         <ion-col>
            <button  clear ion-button (click)="executeTask()">
               <ion-icon name="checkmark"></ion-icon>
               <div *ngIf="ContentType == 'LSTaskAppruve'">
                  Согласовать
               </div>
               <div *ngIf="ContentType != 'LSTaskAppruve'">
                  Выполнить
               </div>
            </button>
         </ion-col>
        </ion-row>
      </ion-grid>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
