taskitem {
   opacity: 0.99 !important;
   .scroll-content {
      overflow: visible !important;
   }

   ion-footer{
      padding:0;
      ion-toolbar{
         padding:0;
         ion-grid{
            padding:0;
            ion-col{
               padding:0;
               button{
                  color: #444 !important;
                  width: 100%;
                  padding:0 !important;
                  margin:0 !important;
                  font-size: 0.9em !important;
                  ion-icon {
                      margin-right: 5px;
                  }
               }
            }
         }
      }
   }

   .toolbar-title{
      white-space: nowrap;//normal;
      word-spacing: 10px;
   }
   ion-icon{
      font-size: 2em;
   }
   ion-label{
      padding-left:10px;
      div.line{
         margin-bottom:1%;
      }
      ion-icon {
        width:7%;
        font-size: 1.5em;
      }
   }

   ion-avatar {
      display: inline-block;
      line-height: 1;
      max-height: 26px;
      max-width: 30px;
      border-radius: 50%;
      img {
         border-radius: 50px;
      }
   }
   .left{
        display: inline-block;
        vertical-align: text-bottom;
        width:30%;
    }
    .right{
        display: inline-block;
        vertical-align: text-bottom;
        width:50%;
    }
    .userTag{
       display: inline-block;
       border:2px solid #444;
       border-radius: 20px;
       white-space: nowrap;
       span {
          vertical-align: super;
          margin-right: 9px;
          margin-left: 5px;
       }
    }

    .user {
        color : #0072C6;
    }

    .comment{
        font-weight: 700;
    }

    .task {
      background-color: #F2F2F2;
      .input-wrapper{
         border-left: 1px solid #DEDEDE;
        //  padding-left:10px;
      }
    }

    .scrollMy{
        overflow:auto;
        height: 70%;
    }

    div.marker{
        display: block;
        border: 1px solid #808080;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #CACACA;
        position: absolute;
        z-index: 1000;
        margin-left: -14px;
        margin-top: 5px;
    }

    .middlelabel{
        padding-left:0px;
        margin-bottom : 0px;
        border-top: 1px solid #dedede;
        border-bottom : 1px solid #dedede;
        button {
            text-transform: none;
            border-right : 1px solid #dedede;
            ion-icon{
                width:inherit;
            }

            ion-icon[name="document"]{
               width: 12%;
               margin-right: 5px;
            }
        }
    }

    .active {
      display:block;
    }
    .inactive{
      display:none;
   }
}
