<ion-content style="z-index: -1">
    <ion-slides #mySlider>
        <ion-slide>
            <ion-scroll>
                <ion-list  no-lines style="z-index: -1">
                    <ion-item class="task" *ngFor="let task of taskHistory | arraySort:'-EvanteDate'" >
                        <!--<div item-left><div class="marker"></div></div>-->
                        <h3>
                            <div class="marker"></div>
                            <span>{{task.Event}}</span> <span>{{task.TaskTitle}}</span> {{loc.dic.Alert38}}
                            <span class="user">{{task.NameExecutor}}</span> {{loc.dic.Alert39}} <span class="user">{{task.NameAuthore}}</span>
                            <span> {{loc.dic.Alert40}} </span>
                            <span>{{task.DueDate}}</span>
                        </h3>
                        <p>{{task.EvanteDate}}</p>
                    </ion-item>
                    <ion-item *ngIf="history && !taskHistory">
                    <h2>{{loc.dic.mobile.Empty}}</h2>
                    </ion-item>
                    <ion-item *ngIf="!history">
                    <h2>{{loc.dic.mobile.Downloading}}</h2>
                    </ion-item>
                </ion-list>
            </ion-scroll>
        </ion-slide>
  </ion-slides>
</ion-content>
