<ion-content style="z-index: -1">
    <ion-slides #mySlider>
        <ion-slide>
            <ion-scroll>
                    <ion-list  no-lines style="z-index: -1">
                        <ion-item (click)="docClicked(document)" *ngFor="let document of Docs" >
                            <div item-left>
                            <div margin-right class="file-icon file-icon-lg " [attr.data-type]="document.icon"></div>
                            </div>
                            <h2>{{document.Name}}</h2>
                            <p>{{loc.dic.Created}}: {{document.TimeCreated}}</p>
                        </ion-item>
                        <ion-item *ngIf="Docs && Docs.length == 0">
                        <h2>{{loc.dic.mobile.Empty}}</h2>
                        </ion-item>
                        <ion-item *ngIf="!Docs">
                        <h2>{{loc.dic.mobile.Downloading}}</h2>
                        </ion-item>
                    </ion-list>
                </ion-scroll>
        </ion-slide>
    </ion-slides>
</ion-content>
