<ion-content style="z-index: -1">
    <ion-list  no-lines style="z-index: -1">
        <ion-item *ngFor="let document of Docs" >
            <div item-left>
               <!-- <ion-icon margin-right name="create" ></ion-icon> -->
               <div margin-right class="file-icon file-icon-lg " [attr.data-type]="document.icon"></div>
            </div>
            <h2>{{document.Name}}</h2>
            <p>Created: {{document.TimeCreated}}</p>
        </ion-item>
        <ion-item *ngIf="Docs && Docs.length == 0">
           <h2> Тут пусто</h2>
        </ion-item>
        <ion-item *ngIf="!Docs">
           <h2> Завантаження...</h2>
        </ion-item>
    </ion-list>
</ion-content>
